@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "IRANSansX";
        src: url("./assets/Font/IRANSansX-Regular.woff2") format("woff2"),
            local("IRANSansX-Regular"), local("iranSansX-Regular"),
            local("IranSansX-Regular"), local("IRANSANSX"), local("iransansx"),
            local("IranSansX-regular");
        font-style: normal;
    }
}

@layer components {
    .primaryTransition {
        transition: all ease 250ms;
    }
    .priceShadow {
        box-shadow: 1px 1px 2px gray;
    }

    .headerShadow {
        box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.1);
    }
    .cardOfferShadow {
        box-shadow: 1px 1px 6px rgb(54, 54, 54);
    }
}

body {
    font-family: "IRANSansX";
    font-size: 15px;
    color: #000000;
}

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: "IRANSansX";
    font-size: 30px;
    background: radial-gradient(circle closest-side, green 94%, #0000)
        right/calc(200% - 1em) 100%;
    animation: l24 800ms infinite alternate linear;
    letter-spacing: 3px;
}
.loader::before {
    content: "Loading...";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side, #fff 94%, #000);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l24 {
    100% {
        background-position: left;
    }
}
