@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "IRANSansX";
        src: url("./assets/Font/IRANSansX-Regular.woff2") format("woff2"),
            local("IRANSansX-Regular"), local("iranSansX-Regular"),
            local("IranSansX-Regular"), local("IRANSANSX"), local("iransansx"),
            local("IranSansX-regular");
        font-style: normal;
    }
}

@layer components {
    .primaryTransition {
        transition: all ease 250ms;
    }
    .priceShadow {
        box-shadow: 1px 1px 2px gray;
    }

    .headerShadow {
        box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.1);
    }
}

body {
    font-family: "IRANSansX";
    font-size: 15px;
    color: #000000;
}
